* {
	margin: 0;
	padding: 0;
	font-size: 100%; /* This means 16px by default*/
}
html,
body {
	width: 100%;
	height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
header,
.lorems > article {
	padding: 1rem;
}
.content {
	min-height: calc(100vh - 10vh);
}
article {
	width: 50vw;
}
article > .article-title {
	padding-bottom: 1rem;
}
article > p {
	text-align: justify;
}
/*
    Footer always at the bottom of the page
    Source: https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-2
*/
footer {
	width: 100%;
	background: #ccc;
	height: 10vh;
}
/* Not yet centered */
footer > p {
	padding: 4vh;
	
}